@import './base.css';


body {
  margin-bottom: 20px;
}

#app {
  max-width: 1330px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  /*color: hsla(160, 100%, 37%, 1);*/
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    /*background-color: hsla(160, 100%, 37%, 0.2);*/
  }
}

@media (min-width: 1024px) {

}
